
*{
  margin: 0; 
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  height: 100vh;
  color: white;
  font-weight: bold;
}

#allClock {
  box-sizing : 10px; 
  font-size: 40px;
  padding: 10px 0 0 15px;
  font-family: 'Zen Dots', cursive;
}

#allLogin, #allToDo, #quote{
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-top: none;
  border-left:none;
  border-right: none;
  border-bottom: 3px white solid;
  background-color:transparent; 
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}

input:focus{
  outline: none;
  color: white 
  }

input::placeholder {
  color:rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
}

input::-webkit-input-placeholder {
  color:rgb(255, 255, 255);
}

#allLogin {
  padding : 30px;
  font-size: 40px;
  height: 300px;
}

#allToDo, #allLogin{
  display: flex;
  flex-direction: column;
}

#todo-list {
  padding: 0.3em;
  line-height: 1.5em;
} 

#todo-list li{
  display:flex;
  justify-content: space-between;
  font-size: 20px;
}

#quote {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

#weather{
  position: fixed;
  bottom: 0;
  width: 100%;
  right: -20px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

